/* tabs start */
@media(max-width: 768px) {
    ._tabs-block {
        display: none !important;
    }

    ._tabs-block._active {
        display: block !important;
    }

    ._tabs-item._active {
        color: #ec6633;
        text-decoration: underline;
    }
}

@media(min-width: 768px) {
    .program__nav {
        display: none;
    }
}

._tabs-item {

    cursor: pointer;
    padding: 10px;
    margin: 5px;
    color: black;
    background-color: white;
    border: 1px solid #6EC2A7;
    border-radius: 15px;
    transition: transform 1s ease;
}

._tabs-item:hover {
    border: 2px solid black; 
    border-radius: 15px; 

    transform: translateY(5px);
}

._tabs-item._active {
    background-color: #6EC2A7;
    color: white;
}

._tabs-block {
 
    padding: 20px;
    border-radius: 4px;
    display: none;
}

._tabs-block._active {
    
    display: flex;
}