

._tabs-block {
    display: none !important;
}

._tabs-block._active {
    display: block !important;
}

._tabs-item._active {
    text-decoration: none;
}



._tabs-item {

    cursor: pointer;
    padding: 10px;
    margin: 5px;
    color: #6EC2A7;
    background-color: white;
    border: 1px solid #6EC2A7;
    border-radius: 15px;
    transition: box-shadow .9s ease;
}

._tabs-item:hover {

    color: black;
    box-shadow: 3px 5px 1px;
}

._tabs-item._active {
    background-color: #6EC2A7;
    color: rgb(0, 0, 0);
    /* box-shadow: -3px -5px 0; */
}

._tabs-block {
 
    padding: 20px;
    border-radius: 4px;
    display: none;
}

._tabs-block._active {
    
    display: flex;
}